page-new-memory {
    .error-message{
        color: red;
        font-size: 20px;
    }
    ion-content{
        background-image: url("../assets/imgs/appbackground.jpg");
        background-size: cover;
    }
}
